@import "tailwindcss";
@plugin "daisyui";
/* dark mode */
@custom-variant dark (&:where( .dark,.dark *));

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

@theme {
  --font-Primary: "Bebas Neue", sans-serif;
  --color-BtnPrimary1: #0010f0;
  --color-BtnPrimary2: #0050f0;
  --color-Primary1: #1c1c1c;
}
